.card {
  border-radius: 5%;
  height: 200px;
  width: 140px;
  padding: 0;
  transition: all 0.8s ease;
}

.card.revealed::before {
  opacity: 0;
}

.card.revealed {
  box-shadow: 0 0 30px whitesmoke;
  transform: scaleX(-1);
}

.order {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 13px);
  font-size: calc(300%);
  z-index: 10;
  color: whitesmoke;
}

card.revealed .order{
  transform: scaleX(-1);
}

.pic-box {
  background-image: url("./card_back.png");
  background-position: center;
  background-size: cover;
  border-radius: 5%;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.card:hover {
    box-shadow: 0 0 30px whitesmoke;
  }
  
.card.revealed:hover {
  transform: scale(-1.3, 1.3);
}

.text-box {
  background-image: radial-gradient(circle, white 40%, rgba(255, 255, 255, 0) 80%);
  opacity: 0;
  width: 80%;
  transition: all 0.3s ease;
  padding: 5px 15px;
}

.text-box p {
  font-size: 0.7rem;
}

.card.revealed:hover .text-box {
  opacity: 0.7;
}

#card0 {
  position: absolute;
  top: 35%;
  left: 7%;

}
#card1 {
  position: absolute;
  top: 5%;
  left: 50%;
  margin-left: -70px;
}

#card2 {
  position: absolute;
  top: 35%;
  right: 7%;
}

#card3 {
  position: absolute;
  top: 66%;
  left: 50%;
  margin-left: -70px;
}

#card4 {
  position: absolute;
  top: 35%;
  left: 50%;
  margin-left: -70px;
}

@media (max-width: 800px) {

  .card {
    height: 300px;
    width: 210px;
  }

  #card0,
  #card1,
  #card2,
  #card3,
  #card4 {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    margin: 40px;
  }

  .text-box {
    background-image: radial-gradient(circle, white 50%, rgba(255, 255, 255, 0) 80%);
  }

  .text-box p {
    font-size: 1rem;
  }
}